In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style='whitegrid', font_scale=1.5)
sns.set_palette('Set2', n_colors=10)
plt.rc('font', family='malgun gothic')
plt.rc('axes', unicode_minus=False)

import streamlit as st
from datetime import date

In [2]:
job_2022 = pd.read_csv('국세청_사업자현황_100대 생활업종_20220228.csv',encoding='euc-kr')
job_2021 = pd.read_csv('국세청_사업자현황_100대 생활업종_20210131.csv',encoding='euc-kr')
gen = pd.read_csv('국세청_사업자현황_성별_20220228.csv', encoding='euc-kr')
age = pd.read_csv('국세청_사업자현황_연령별_20220228.csv', encoding='euc-kr')
yea = pd.read_csv('국세청_사업자현황_존속연수별_20220228.csv', encoding='euc-kr')

In [3]:
# 서울지역으로만 한정해 데이터 뽑기

job_2021_seoul = job_2021[job_2021['시도'] == '서울특별시']
job_2022_seoul = job_2022[job_2022['시도'] == '서울특별시']

# *로 처리된 결측치 0으로 바꿔주기

job_2021_seoul = job_2021_seoul.replace('*', np.nan)
job_2021_seoul = job_2021_seoul.replace(' * ', np.nan)

job_2022_seoul = job_2022_seoul.replace('*', np.nan)

job_2021_seoul.fillna(0, inplace = True)
job_2022_seoul.fillna(0, inplace = True)

In [4]:
# 실생활과 밀접한 직종만 뽑기

types = ['LPG 충전소',
 'PC방',
 '가구점',
 '가전제품수리점',
 '가전제품판매점',
 '간이주점',
 '간판광고물업',
 '건어물가게',
 '곡물가게',
 '과일가게',
 '교습소ㆍ공부방',
 '교습학원',
 '기타음식점',
 '꽃가게',
 '노래방',
 '당구장',
 '독서실',
 '목욕탕',
 '문구점',
 '미용실',
 '부동산중개업',
 '분식점',
 '사진촬영업',
 '생선가게',
 '서점',
 '세탁소',
 '슈퍼마켓',
 '스포츠시설운영업',
 '스포츠용품점',
 '시계ㆍ귀금속점',
 '식료품가게',
 '신발가게',
 '실내스크린골프점',
 '실내장식가게',
 '실외골프연습장',
 '안경점',
 '애완용품점',
 '여관ㆍ모텔',
 '여행사',
 '예식장',
 '옷가게',
 '이륜자동차판매점',
 '이발소',
 '일식전문점',
 '자동차수리점',
 '자전거판매점',
 '장난감가게',
 '정육점',
 '제과점',
 '주유소',
 '주차장운영업',
 '중고차판매점',
 '중식전문점',
 '채소가게',
 '철물점',
 '침구ㆍ커튼가게',
 '커피음료점',
 '컴퓨터판매점',
 '통신판매업',
 '패스트푸드점',
 '펜션ㆍ게스트하우스',
 '편의점',
 '피부관리업',
 '한식전문점',
 '헬스클럽',
 '호프전문점',
 '화장품가게',
 '휴대폰가게']

job_2021_fit = job_2021_seoul.loc[job_2021_seoul['업종'].isin(types)]
job_2022_fit = job_2022_seoul.loc[job_2022_seoul['업종'].isin(types)]

In [5]:
# 데이터 타입 int로 변경

job_2021_fit['당월'] = job_2021_fit['당월'].astype(int)
job_2021_fit['전월'] = job_2021_fit['전월'].astype(int)
job_2021_fit['전년동월'] = job_2021_fit['전년동월'].astype(int)

job_2022_fit['당월'] = job_2022_fit['당월'].astype(int)
job_2022_fit['전월'] = job_2022_fit['전월'].astype(int)
job_2022_fit['전년동월'] = job_2022_fit['전년동월'].astype(int)

C:\Users\user\AppData\Local\Temp\ipykernel_3744\807448938.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_2021_fit['당월'] = job_2021_fit['당월'].astype(int)
C:\Users\user\AppData\Local\Temp\ipykernel_3744\807448938.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_2021_fit['전월'] = job_2021_fit['전월'].astype(int)
C:\Users\user\AppData\Local\Temp\ipykernel_3744\807448938.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_2021_fit['전년동월'] = job_2021_fit['전년동월'].astype(int)
C:\Users\user\AppData\Local\Temp\ipykernel_3744\807448938.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_2022_fit['당월'] = job_2022_fit['당월'].astype(int)
C:\Users\user\AppData\Local\Temp\ipykernel_3744\807448938.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_2022_fit['전월'] = job_2022_fit['전월'].astype(int)
C:\Users\user\AppData\Local\Temp\ipykernel_3744\807448938.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_2022_fit['전년동월'] = job_2022_fit['전년동월'].astype(int)

In [6]:
# 열 이름 일자로 변경

col_1 = {'당월':'2021_1', '전년동월':'2020'}
job_2021_fit = job_2021_fit.rename(columns = col_1)

col_2 = {'당월':'2022', '전년동월':'2021_2'}
job_2022_fit = job_2022_fit.rename(columns = col_2)

In [7]:
# 업종과 시도를 기준으로 groupby

job_2021_fit = job_2021_fit.groupby(['업종','시도'])[['2021_1','전월','2020']].sum()
job_2022_fit = job_2022_fit.groupby(['업종','시도'])[['2022','전월','2021_2']].sum()

In [8]:
# 2020년부터 2022년까지 병합 

job_3 = pd.merge(job_2021_fit, job_2022_fit, on='업종', how='left')

coll = ['2020', '2021_1','2021_2', '2022']
job = job_3.loc[:,coll]

In [9]:
#  2020~2021  /  2021~2022  /   2020~2022  각 년도별 증감추이 

job['2020-2021 증감%'] = ((job['2021_1'] - job['2020'])/job['2020'])*100
job['2021-2022 증감%'] = ((job['2022'] - job['2021_2'])/job['2021_2'])*100
job['2년간 증감%'] = ((job['2022'] - job['2020'])/job['2020'])*100

In [10]:
job

          2020  2021_1  2021_2   2022  2020-2021 증감%  2021-2022 증감%    2년간 증감%
업종
LPG 충전소     70      71      69     70       1.428571       1.449275   0.000000
PC방       1731    1623    1540   1418      -6.239168      -7.922078 -18.082034
가구점       1015    1018    1035   1064       0.295567       2.801932   4.827586
가전제품수리점   2183    2604    2874   3055      19.285387       6.297843  39.945030
가전제품판매점   1495    1523    1553   1580       1.872910       1.738571   5.685619
...        ...     ...     ...    ...            ...            ...        ...
한식전문점    52736   53503   55077  55049       1.454414      -0.050838   4.385998
헬스클럽      1704    1877    2118   2496      10.152582      17.847025  46.478873
호프전문점     7403    6883    5840   5337      -7.024179      -8.613014 -27.907605
화장품가게     6811    6638    6546   6795      -2.540009       3.803850  -0.234914
휴대폰가게     2986    3066    3181   3168       2.679169      -0.408677   6.095111

[68 rows x 7 columns]

In [11]:
#  음식점 전체 결과

food = ['기타음식점', '분식점', '일식전문점','중식전문점','한식전문점']
job.loc[food,:]

        2020  2021_1  2021_2   2022  2020-2021 증감%  2021-2022 증감%    2년간 증감%
업종
기타음식점   4826    4474    4206   4031      -7.293825      -4.160723 -16.473270
분식점    11083   10912   10791  10772      -1.542904      -0.176073  -2.806099
일식전문점   5438    5511    5650   6110       1.342405       8.141593  12.357484
중식전문점   4526    4881    4853   5064       7.843570       4.347826  11.886876
한식전문점  52736   53503   55077  55049       1.454414      -0.050838   4.385998

In [15]:
#   전체적으로 모두 증가

percent = ['2020-2021 증감%', '2021-2022 증감%', '2년간 증감%']

#c1 = job['2020-2021 증감%']>0
#c2 = job['2021-2022 증감%']>0
c3 = job['2년간 증감%']<0


job.loc[c3, percent].sort_values(by = '2년간 증감%', ascending = False).reset_index()

         업종  2020-2021 증감%  2021-2022 증감%    2년간 증감%
0     화장품가게      -2.540009       3.803850  -0.234914
1       문구점      -3.193488       1.889251  -2.066374
2       안경점      -0.679612      -0.149031  -2.427184
3       분식점      -1.542904      -0.176073  -2.806099
4       옷가게      -1.205718       1.481193  -2.914854
5     식료품가게      -5.299056       0.621232  -3.690101
6   침구ㆍ커튼가게      -3.393665       0.157978  -4.374057
7       철물점      -2.130682      -1.900585  -4.687500
8    자전거판매점      -2.216749      -0.771208  -4.926108
9       여행사       0.502603       1.906615  -5.977383
10     곡물가게      -2.994012      -0.634921  -6.287425
11    장난감가게      -0.373134       0.201207  -7.089552
12   간판광고물업      -1.812130      -2.647975  -7.544379
13     슈퍼마켓      -3.786575      -2.185792  -7.573150
14      당구장      -4.062594      -0.618087  -8.065002
15  실외골프연습장      -3.693931      -5.027933 -10.290237
16      노래방      -3.152925      -3.464246 -12.139605
17     신발가게      -5.718370      -1.223491 -13.438170
18    기타음식점      -7.293825      -4.160723 -16.473270
19      예식장      -6.707317      -6.206897 -17.073171
20      PC방      -6.239168      -7.922078 -18.082034
21      독서실      -4.892368      -9.470053 -19.289908
22      목욕탕      -5.540897      -7.656968 -20.448549
23    여관ㆍ모텔      -6.144983      -6.926159 -21.939510
24    호프전문점      -7.024179      -8.613014 -27.907605
25     간이주점     -10.101207     -10.965028 -34.098871

In [42]:
#  전체적으로 감소

c1 = job['2020-2021 증감%']<0
c2 = job['2021-2022 증감%']<0
c3 = job['2년간 증감%']<0

c = (c1 & c2 & c3)
job.loc[c, percent].sort_values(by = '2년간 증감%', ascending = True)

         2020-2021 증감%  2021-2022 증감%    2년간 증감%
업종
간이주점        -10.101207     -10.965028 -34.098871
호프전문점        -7.024179      -8.613014 -27.907605
여관ㆍ모텔        -6.144983      -6.926159 -21.939510
목욕탕          -5.540897      -7.656968 -20.448549
독서실          -4.892368      -9.470053 -19.289908
PC방          -6.239168      -7.922078 -18.082034
예식장          -6.707317      -6.206897 -17.073171
기타음식점        -7.293825      -4.160723 -16.473270
신발가게         -5.718370      -1.223491 -13.438170
노래방          -3.152925      -3.464246 -12.139605
실외골프연습장      -3.693931      -5.027933 -10.290237
당구장          -4.062594      -0.618087  -8.065002
슈퍼마켓         -3.786575      -2.185792  -7.573150
간판광고물업       -1.812130      -2.647975  -7.544379
곡물가게         -2.994012      -0.634921  -6.287425
자전거판매점       -2.216749      -0.771208  -4.926108
철물점          -2.130682      -1.900585  -4.687500
분식점          -1.542904      -0.176073  -2.806099
안경점          -0.679612      -0.149031  -2.427184

In [156]:

c1 = job['2020-2021 증감%']<0
c2 = job['2021-2022 증감%']<0
c3 = job['2년간 증감%']>0

c = (c1 & c2 & c3)
job.loc[c, percent]

     2020-2021 증감%  2021-2022 증감%   2년간 증감%
업종
이발소      -0.555042      -0.678426  1.572618
주유소      -3.911980      -3.218391  2.933985

In [157]:

c1 = job['2020-2021 증감%']>0
c2 = job['2021-2022 증감%']>0
c3 = job['2년간 증감%']<0

c = (c1 & c2 & c3)
job.loc[c, percent]

     2020-2021 증감%  2021-2022 증감%   2년간 증감%
업종
여행사       0.502603       1.906615 -5.977383

In [160]:
#  2021_1 부터 2021_2가 급격한 감소  이유는?

job.loc['여행사']

2020             5571.000000
2021_1           5599.000000
2021_2           5140.000000
2022             5238.000000
2020-2021 증감%       0.502603
2021-2022 증감%       1.906615
2년간 증감%            -5.977383
Name: 여행사, dtype: float64